# .gitignore

# Composer
/vendor/
/composer.lock

# Symfony
/var/
/.env.local
/.env.local.php
/.env.*.local

# Logs and cache
/log/
/tmp/
/cache/

# PHPUnit
.phpunit.result.cache

# .env file
.env

# Ignore IDE files
/.idea/
/.vscode/

# Ignore system files
.DS_Store
Thumbs.db

